<style>
  .time {
    font-size: 12px;
    width: 60px;
  }
</style>

<md-toolbar [color]="primary">
  <span>RawTime</span>
</md-toolbar>
<button (click)="moveDayIndex(+1)">+</button>
<button (click)="moveDayIndex(-1)">-</button>
<table>
    <tr>
      <th>Project</th>
      <!--<th *ngFor="let item of i.dayPositionRange"></th>-->
    </tr>
    <tr *ngFor="let p of projects">
      <td>{{p.name}}</td>
      <td *ngFor="let i of dayPositionRange" class="time">
        <time-input [dayIndex]="i" [projectId]="p.id"></time-input>
      </td>
    </tr>
</table>
